@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
* {
  font-family: "Reem Kufi", sans-serif;
}
p {
  margin-bottom: 0 !important;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

/* common class */
:root {
  --bgGradient: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
  --textColor: #5d5da5;
  --border: #8989bb;
}
.bgGradient {
  background-color: var(--textColor);
  background-image: var(--bgGradient);
}
.textColor {
  color: var(--textColor) !important;
}
.btnStyle {
  width: 100%;
  padding: 5px;
  border: 2px solid var(--border);
  margin-top: 14px;
  border-radius: 4px;
  background: #fff;
  color: var(--textColor);
  cursor: pointer;
}

.btnStyle:hover,
.btnStyle:active {
  box-shadow: inset -3.5em 0 0 0 var(--bgGradient),
    inset 3.5em 0 0 0 var(--bgGradient);
}
/* bootstrap class customize */
.img-thumbnail {
  height: 100% !important;
  object-fit: cover;
}

/* loader */
#preLoader {
  background: url(./img/loader.webp) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* pdf button */
#downloadBtn {
  position: relative;
  width: 21cm;
  margin: auto;
}
#downloadBtn button {
  position: absolute;
  right: 3px;
  top: 3px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .about_div_profile {
    display: none;
  }
  .header_main {
    margin-bottom: 0;
  }
}
